<h1>Listing targets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Perspective</th>
  </tr>

<% for target in @targets %>
  <tr>
    <td><%=h target.name %></td>
    <td><%=h target.description %></td>
    <td><%=h target.perspective.name %></td>
    <td><%= link_to 'Show', target %></td>
    <td><%= link_to 'Edit', edit_target_path(target) %></td>
    <td><%= link_to 'Destroy', target, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New target', new_target_path %>
