<h1>Change Password</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
   User:  <%= h @user.name %>
  </p>
  <p>
    <%= f.label "Password" %>
  	<%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <label for="user_password_confirmation">Confirm:</label>
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
