<table>
<tr>
<th>Perspective</th><th>Target</th><th>KPI</th><th>KPI target value</th><th>Achieved value</th><th>% reached</th>
</tr>
<%if @perspectives%>
<% @perspectives.each do |p| %>

<tr class="subheader">
<td><%=h p.name%></td><td></td><td></td><td></td><td></td><td></td>
</tr>

<% for target in p.targets %>
<tr class="subheader">
<td></td>
<td><%=h target.name -%></td>
<td></td><td></td><td></td><td></td>
</tr>
<% for kpi in target.kpis %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td></td><td></td>
    <td><%=h kpi.name %></td>
    <td class="number"><%=h kpi.target_value_for(@report_date) %></td>
    <td class="number"><%=h kpi.last_achieved_value(@report_date) %></td>
    <td class="<%=h kpi.achievement_rating(@report_date)%>"><%=h kpi.achievement_percentage(@report_date) %></td>
	<td class="graph"><%kpi.sparkline(@report_date)%>
  </tr>
<% end %>
<% end %>
<% end %>
<%end%>
</table>
