<h1>Listing achievements</h1>

<table>
  <tr>
    <th>Kpi</th>
    <th>Report date</th>
    <th>Kpivalue</th>
  </tr>

<% for achievement in @achievements %>
  <tr>
    <td><%=h achievement.kpi.name %></td>
    <td><%=h achievement.report_date %></td>
    <td><%=h achievement.kpivalue %></td>
    <td><%= link_to 'Show', achievement %></td>
    <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
    <td><%= link_to 'Destroy', achievement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New achievement', new_achievement_path %>
